<div class="container text-left">
  <h1>RSVP Form</h1>
  <form #form="ngForm" [formGroup]="rsvpForm" (ngSubmit)="processForm(form)">
    <!-- NAME -->
    <div class="row">
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Please enter your name.">
        <div *ngIf="rsvpForm.get('name').hasError('required')"></div>
      </mat-form-field>
    </div>
    <!-- EMAIL -->
    <div class="row">
      <mat-form-field>
        <input type="email" formControlName="email" matInput placeholder="Please enter your email.">
        <div *ngIf="rsvpForm.get('email').hasError('required')"></div>
        <div *ngIf="rsvpForm.get('email').hasError('email')">
          Please enter your a valid email!
        </div>
      </mat-form-field>
    </div>
    <!-- PHONE -->
    <div class="row">
      <mat-form-field>
        <input type="tel" formControlName="phone" matInput placeholder="Enter your phone number.">
        <div *ngIf="rsvpForm.get('phone').hasError('required')"></div>
      </mat-form-field>
    </div>
    <!-- ARE YOU ATTENDING -->
    <div class="row">
      <mat-radio-group formControlName="attending">
        <p>Are you attending?</p> 
        <div class="col">
          <mat-radio-button value="yes">Yes</mat-radio-button>
        </div>
        <div class="col">
          <mat-radio-button value="no">No</mat-radio-button>        
        </div>
      </mat-radio-group>
    </div>
    <!-- NO of guest coming -->
    <div class="row">
      <mat-form-field>
        <mat-select placeholder="No. of Guest" formControlName="guest">
          <mat-option *ngFor="let g of [0, 1, 2 , 3]" value="{{g}}">
            {{ g }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ALLERGIES -->
    <div class="row">
      Allergies
    </div>
    <div class="row">
      <div class="col-1 m-2" *ngFor="let diet of dietArray.controls; let i = index">
      <mat-checkbox [formControl]="diet">
          {{ labels[i] }}
        </mat-checkbox>
      </div>
    </div>
    <!-- NEWSLETTER -->
    <div class="row">
      <mat-checkbox formControlName="newsletter">
        Yes, I wish to receive newsletter.
      </mat-checkbox>
    </div>
    <!-- DATE PICKER -->
    <div class="row">
      <mat-form-field>
        <input matInput 
          [matDatepicker]="datepicker" 
          placeholder="Date of birth" 
          formControlName="dob">
        <mat-datepicker-toggle matSuffix
          [for]="datepicker">
        </mat-datepicker-toggle>
        <mat-datepicker #datepicker>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
        <app-todo></app-todo>
    </div>

    <div class="row">
      <button type="submit" color="primary" mat-raised-button [disabled]="rsvpForm.invalid">Send</button>
    </div>
  </form>
</div>